<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jjz.energy">

    <!--允许网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取设备的网络状态，鉴权所需网络代理-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--这个权限用于访问GPS定位-->
    <uses-permission android:name="android .permission.ACCESS_FINE_LOCATION" />

    <!--允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
                     tools:ignore="ProtectedPermissions"/>

    <!--这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 系统相机拍照-->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--zxing-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <!--打电话-->
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.jjz.energy.ui.SplashActivity"
            android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IBcaSkcRLxGyVs6pqqLscuciCOpVFI1E" />

        <!--定位组件-->
        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote"/>


        <!-- matisse 图片选择器文件过滤 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jjz.energy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--********************* Activity *********************-->

        <!--主页-->
        <activity
            android:name="com.jjz.energy.ui.MainActivity"
            android:theme="@style/MainTheme"

            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <!--久速商家-->
        <activity
            android:name="com.jjz.energy.ui.jiusu_shop.JiuSuShopActivity"
            android:configChanges="orientation|screenSize"/>

        <!--聊天页面-->
        <activity
            android:name="com.jjz.energy.ui.notice.IMActivity"
            android:configChanges="orientation|screenSize"/>

        <!--地址管理-->
        <activity
            android:name=".ui.mine.shipping_address.AddressManagerActivity"
            android:configChanges="orientation|screenSize"/>

        <!--商品分类-->
        <activity
            android:name=".ui.home.commodity.ClassificationActivity"
            android:configChanges="orientation|screenSize"/>

        <!--添加地址-->
        <activity
            android:name=".ui.mine.shipping_address.AddAddressActivity"
            android:configChanges="orientation|screenSize"/>

        <!--确认购买页面-->
        <activity
            android:name=".ui.shop_order.SureBuyActivity"
            android:configChanges="orientation|screenSize"/>

        <!--通用网页-->
        <activity
            android:name="com.jjz.energy.base.BaseWebActivity"
            android:configChanges="orientation|screenSize"/>

        <!--搜索页-->
        <activity
            android:name=".ui.home.SearchActivity"
            android:configChanges="orientation|screenSize"/>

        <!--登录-->
        <activity
            android:name=".ui.home.login.LoginActivity"
            android:configChanges="orientation|screenSize"/>

        <!--忘记密码 验证手机号-->
        <activity
            android:name=".ui.home.login.LoginVerifyMobileNumberActivity"
            android:configChanges="orientation|screenSize"/>
        <!--设置和修改登录密码 -->
        <activity
            android:name="com.jjz.energy.ui.mine.information.MineSettingPasswordActivity"
            android:configChanges="orientation|screenSize"/>

        <!--重置 验证手机号-->
        <activity
            android:name=".ui.home.login.LoginResetPasswordActivity"
            android:configChanges="orientation|screenSize"/>

        <!--店内消费 支付成功-->
        <activity
            android:name=".ui.jiusu_shop.JiuSuShopPaySucActivity"
            android:configChanges="orientation|screenSize"/>

        <!--获取验证码-->
        <activity android:name=".ui.home.login.LoginInputCodeActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--发布物流-->
        <activity android:name=".ui.home.logistics.ReleaseLogisticsActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--物流中心-->
        <activity android:name=".ui.home.logistics.LogisticsActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--物流详情-->
        <activity android:name=".ui.home.logistics.LogisticsDetailActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--公益慈善首页-->
        <activity android:name=".ui.home.charitable.CharitableActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--公益慈善详情-->
        <activity android:name=".ui.home.charitable.CharitableDetailActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--保险-->
        <activity android:name=".ui.home.insurance.InsuranceActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--保险列表-->
        <activity android:name=".ui.home.insurance.InsuranceDetailActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--养老-->
        <activity android:name=".ui.home.pension.PensionActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--教育-->
        <activity android:name=".ui.home.education.EducationActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--个人资料-->
        <activity android:name="com.jjz.energy.ui.mine.information.MineInfomationActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--个人设置-->
        <activity android:name="com.jjz.energy.ui.mine.MineSettingActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--绑定车辆-->
        <activity android:name="com.jjz.energy.ui.mine.information.OwnerInfoActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--我发布的-->
        <activity android:name="com.jjz.energy.ui.mine.MinePutActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--我买到的-->
        <activity android:name="com.jjz.energy.ui.mine.MineBuyerActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--我卖出的-->
        <activity android:name="com.jjz.energy.ui.mine.MineSellerActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--我收藏的-->
        <activity android:name="com.jjz.energy.ui.mine.MineLikeCommodityActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--收款账户-->
        <activity android:name="com.jjz.energy.ui.mine.information.MineAccountsActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--绑定微信-->
        <activity android:name="com.jjz.energy.ui.mine.information.BindWechatActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--绑定支付宝-->
        <activity android:name="com.jjz.energy.ui.mine.information.BindAliPayActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--发布商品-->
        <activity android:name="com.jjz.energy.ui.home.commodity.PutCommodityActivity"
            android:configChanges="orientation|screenSize"/>

        <!--订单详情-->
        <activity android:name=".ui.shop_order.OrderDetailsActivity"
            android:configChanges="orientation|screenSize"/>

        <!--我要发货-->
        <activity android:name=".ui.shop_order.DeliverGoodsActivity"
            android:configChanges="orientation|screenSize"/>


        <!--选择物流公司-->
        <activity android:name=".ui.shop_order.ExpressCompanyActivity"
            android:configChanges="orientation|screenSize"/>

        <!--物流详情-->
        <activity android:name=".ui.shop_order.ExpressDetailsActivity"
            android:configChanges="orientation|screenSize"/>


        <!--查看大图-->
        <activity
            android:name="com.jjz.energy.ui.ImagePagerActivity"
            android:configChanges="orientation|screenSize" />

        <!--商品详情-->
        <activity
            android:name="com.jjz.energy.ui.home.commodity.CommodityDetailActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <!--个人主页-->
        <activity
            android:name="com.jjz.energy.ui.mine.information.HomePageActivity"
        android:configChanges="orientation|screenSize"/>

        <!--我的喜欢和我的关注-->
        <activity android:name="com.jjz.energy.ui.mine.MineFansAndLikeActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--搜索结果-->
        <activity android:name="com.jjz.energy.ui.home.SearchResultActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--意见反馈-->
        <activity android:name="com.jjz.energy.ui.mine.FeedBackActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--发帖子-->
        <activity android:name="com.jjz.energy.ui.community.PutCommunityActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--帖子详情-->
        <activity android:name="com.jjz.energy.ui.community.CommunityDetailActivity"
                  android:configChanges="orientation|screenSize"/>
        <!--我的帖子-->
        <activity android:name="com.jjz.energy.ui.mine.MinePostActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--关于我们-->
        <activity android:name="com.jjz.energy.ui.mine.AboutUsActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--选择城市-->
        <activity android:name="com.jjz.energy.ui.city.CityPickerActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--修改昵称-->
        <activity android:name="com.jjz.energy.ui.mine.information.ChangeNickNameActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--修改简介-->
        <activity android:name="com.jjz.energy.ui.mine.information.ChangeDescActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--评价一下-->
        <activity android:name=".ui.shop_order.EvaluateActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--评价详情-->
        <activity android:name=".ui.shop_order.EvaluateDetailsActivity"
                  android:configChanges="orientation|screenSize"/>

        <!--选择退货还是退款-->
        <activity android:name=".ui.shop_order.refund_order.RefundTypeSelectActivity"
            android:configChanges="orientation|screenSize"/>

        <!--申请退款-->
        <activity android:name=".ui.shop_order.refund_order.ApplicationRefundActivity"
            android:configChanges="orientation|screenSize"/>

        <!--买家查看退货退款详情页面-->
        <activity android:name=".ui.shop_order.refund_order.BuyerRefundDetailsActivity"
            android:configChanges="orientation|screenSize"/>

        <!--卖家查看退货退款详情页面-->
        <activity android:name=".ui.shop_order.refund_order.SellerRefundDetailsActivity"
            android:configChanges="orientation|screenSize"/>

        <!--卖家同意退货-->
        <activity android:name=".ui.shop_order.refund_order.SellerAgreeReturnActivity"
            android:configChanges="orientation|screenSize"/>

        <!--卖家拒绝申请-->
        <activity android:name=".ui.shop_order.refund_order.SellerRefuseApplicationActivity"
            android:configChanges="orientation|screenSize"/>

        <!--买家填写退货物流-->
        <activity android:name=".ui.shop_order.refund_order.ReturnLogisticsActivity"
            android:configChanges="orientation|screenSize"/>

        <!--退款 协商历史-->
        <activity android:name=".ui.shop_order.refund_order.RefundHistoryActivity"
            android:configChanges="orientation|screenSize"/>

        <!--消息列表-->
        <activity android:name="com.jjz.energy.ui.notice.NoticeListActivity"
            android:configChanges="orientation|screenSize"/>

        <!--订单消息-->
        <activity android:name="com.jjz.energy.ui.notice.OrderNoticeActivity"
            android:configChanges="orientation|screenSize"/>

        <!--系统消息-->
        <activity android:name="com.jjz.energy.ui.notice.SystemNoticeActivity"
            android:configChanges="orientation|screenSize"/>

        <!--物流消息-->
        <activity android:name="com.jjz.energy.ui.notice.LogisticsNoticeActivity"
            android:configChanges="orientation|screenSize"/>

        <!--留言消息-->
        <activity android:name="com.jjz.energy.ui.notice.CommentNoticeActivity"
            android:configChanges="orientation|screenSize"/>

        <!--久速商家个人主页-->
        <activity android:name="com.jjz.energy.ui.jiusu_shop.JiuSuShopHomePageActivity"
            android:configChanges="orientation|screenSize"/>

        <!--我的积分-->
        <activity android:name="com.jjz.energy.ui.mine.MineIntegralActivity"
            android:configChanges="orientation|screenSize"/>

        <!--我的积分-->
        <activity android:name="com.jjz.energy.ui.notice.CommunityNoticeActivity"
            android:configChanges="orientation|screenSize"/>

        <!--店内消费记录-->
        <activity android:name="com.jjz.energy.ui.mine.MineJiuSuShoppingListActivity"
            android:configChanges="orientation|screenSize"/>

        <!--店内消费记录-->
        <activity android:name="com.jjz.energy.ui.mine.MineJiuSuShoppingDetailsActivity"
            android:configChanges="orientation|screenSize"/>

        <!--指定分类的久速商家-->
        <activity android:name="com.jjz.energy.ui.jiusu_shop.ShopCateListActivity"
            android:configChanges="orientation|screenSize"/>

        <!--搜索商家-->
        <activity android:name="com.jjz.energy.ui.jiusu_shop.SearchShopActivity"
            android:configChanges="orientation|screenSize"/>

        <!--搜索商家结果-->
        <activity android:name="com.jjz.energy.ui.jiusu_shop.SearchShopResultActivity"
            android:configChanges="orientation|screenSize"/>

        <!--商家全部分类-->
        <activity android:name="com.jjz.energy.ui.jiusu_shop.ShopClassificationActivity"
            android:configChanges="orientation|screenSize"/>

        <!--商家全部商品-->
        <activity android:name="com.jjz.energy.ui.jiusu_shop.JiuSuShopAllGoodsActivity"
            android:configChanges="orientation|screenSize"/>

        <!--店内消费支付页面-->
        <activity android:name="com.jjz.energy.ui.jiusu_shop.ShopSureBuyActivity"
            android:configChanges="orientation|screenSize"/>


        <!--****************** 久速1.0 ****************** -->

        <!--首页-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuHomeActivity"
            android:configChanges="orientation|screenSize"/>

        <!--我的代理-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineAgencyActivity"
            android:configChanges="orientation|screenSize"/>

        <!--会员中心-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineActivity"
            android:configChanges="orientation|screenSize"/>

        <!--升级会员-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuUpVipActivity"
            android:configChanges="orientation|screenSize"/>

        <!--分享邀请-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuShareActivity"
            android:configChanges="orientation|screenSize"/>

        <!--我的会员-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineVipActivity"
            android:configChanges="orientation|screenSize"/>

        <!--会员福利-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuVipWelfareActivity"
            android:configChanges="orientation|screenSize"/>

        <!--赠品使用记录-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuYoCardReceiveListActivity"
            android:configChanges="orientation|screenSize"/>

        <!--卖家订单管理-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineSellerOrderActivity"
            android:configChanges="orientation|screenSize"/>

        <!--卖家订单详情-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineSellerOrderDetailActvity"
            android:configChanges="orientation|screenSize"/>

        <!--买家订单管理-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineOrderActivity"
            android:configChanges="orientation|screenSize"/>

        <!--买家订单详情-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineOrderDetailActvity"
            android:configChanges="orientation|screenSize"/>

        <!--查看发票-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuLookBillActivity"
            android:configChanges="orientation|screenSize"/>

        <!--发票申请-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuBillApplicationActivity"
            android:configChanges="orientation|screenSize"/>

        <!--检查发票-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuCheckBillActivity"
            android:configChanges="orientation|screenSize"/>

        <!--我的佣金-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuMineWalletActivity"
            android:configChanges="orientation|screenSize"/>

        <!--提现-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuWithdrawDepositActivity"
            android:configChanges="orientation|screenSize"/>

        <!--提现申请-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuWithdrawDepositApplicationActivity"
            android:configChanges="orientation|screenSize"/>

        <!--提现记录-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuWithdrawDepositListActivity"
            android:configChanges="orientation|screenSize"/>

        <!--提现结果-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuWithdrawDepositResultActivity"
            android:configChanges="orientation|screenSize"/>

        <!--提现月详情-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuCommissionDetailActivity"
            android:configChanges="orientation|screenSize"/>

        <!--佣金记录-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuCommissionRecordActivity"
            android:configChanges="orientation|screenSize"/>

        <!--支付成功-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuPaySucActivity"
            android:configChanges="orientation|screenSize"/>


        <!--二维码详情-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuVCodeDetailActivity"
            android:configChanges="orientation|screenSize"/>

        <!--核销页面-->
        <activity android:name="com.jjz.energy.ui.home.jiusu.JiuSuTranscationSucActivity"
            android:configChanges="orientation|screenSize"/>

        <!--收款记录-->
        <activity android:name="com.jjz.energy.ui.mine.MineJiuSuCollectionListActivity"
            android:configChanges="orientation|screenSize"/>

        <!--收款详情-->
        <activity android:name="com.jjz.energy.ui.mine.MineJiuSuCollectionDetailsActivity"
            android:configChanges="orientation|screenSize"/>



        <!--****************** 支付****************** -->

        <!--微信-->
        <activity
            android:name="com.jjz.energy.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <!--微信支付回调-->
        <activity
            android:name="com.jjz.energy.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--*********************项目级通用工具配置*********************-->

        <!--全尺寸屏幕适配-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--******************************** 第三方********************* -->

        <activity
            android:name=".widgets.idcardcamera.camera.CameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|screenSize" />

        <!--zxing-->
        <activity
            android:name="com.jjz.energy.zxing.android.CaptureActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <!--bugly-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!--bugly的provider-->
        <provider
            android:name=".provider.BuglyFileProvider"
            android:authorities="com.jjz.energy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <!--************************************** 极光推送-->
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name=".service.JPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".jpush.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.jjz.energy" />
            </intent-filter>
        </receiver>

        <!--User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--Required 用户注册 SDK 的 intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收 SDK 消息的 intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收 SDK 通知栏信息的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.jjz.energy" />
            </intent-filter>
        </receiver>

    </application>


</manifest>